<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>WWS - Weather Web Services</title>
  
</head>

<body>
    <br><br><br>

   <div class="container">
        <h3>Bienvenido {{ session['isLogged'] }} </h3>

        <br>

        <h3>Clima actual: </h3>

            <h5>{{ current_weather['ciudad'] }}</h5>
            {{ current_weather['temp'] }}º
            <h5>{{ current_weather['clima'] }} <img src="http://openweathermap.org/img/w/{{ current_weather['icon'] }}.png"> </h5>
            
            <br>
        
        <h3>Proximos 5 dias. (Falta procesar estas mediciones para hacer una unica por dia)</h3>


        {% for key in forecast %}

            <h5>{{ forecast[key]['hora'] }} <img src="http://openweathermap.org/img/w/{{ forecast[key]['icon'] }}.png"> </h5>
            Min: {{ forecast[key]['temp_min'] }}º <br>
            Max: {{ forecast[key]['temp_max'] }}º <br>
            <br>
            ---------------------
      
        {% endfor %}
  

    </div>
</body>
</html>
