<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Weather Web Service</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

 <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script> 

 <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   
  <script>

    var availableCities = []
         

i = 0;
$(document).ready(function(){
    $("input").keypress(function(){
        i+=1

        ciudad = document.getElementById('automplete-1').value
        if(ciudad.length > 2){
          

          console.log("Se va a buscar: " + ciudad)

           $.ajax({
                type: "GET",
                url: "/lookup_city",
                contentType: 'application/json;charset=UTF-8',
                data: {'data': ciudad},
                async: false,
                success: function (data) {

                  data = data.result

                  availableCities = []

                   for(var i in data)
                    {
                        var idCiudad = data[i].idCiudad;

                        var codigo = data[i].codigo_ciudad;
                         var ciudad = data[i].ciudad;

                         
                        console.log(idCiudad + " - " +ciudad + ", " + codigo)

                        availableCities.push(ciudad + ", " + codigo);


                    }

                    console.log(availableCities);

                    $(function() {
                      $( "#automplete-1" ).autocomplete({
                         source: availableCities
                      });
                   });

                    
                },
                error : function (xhr, ajaxOptions, thrownError){  
                  console.log(xhr.status);          
                  console.log(thrownError);
                }
            });

        } 
    });
});
</script>
   


</head>

  


  


<body id="body">


  <!-- HTML --> 
     

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">UNLa<span>Weather</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li><a href="/home">{{ session['usuario'].usuario }}</a></li>
            <li><a href="/logout">Salir</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


  <main id="main">


    <div class="container">
     <div class="row">
         <div class="col-md-6">
        <section id="contact" class="wow fadeInUp">
          <div class="container">
            <div class="section-header">
              <h2>Clima actual</h2>
            </div>

            <div class="row contact-info">

                

              <div class="col-md-12">
                <div class="contact-address">
                  <img src="http://openweathermap.org/img/w/{{ current_weather['icon'] }}.png"> 
                  <h6>{{ current_weather['ciudad'] }}</h6>
                  <address> {{ current_weather['temp'] }}º</address>
                  <address><h6>{{ current_weather['clima'] }}  </h6></address>
                  <a href="/change_city_view"><b><button type="button" class="btn btn-inverse">Cambiar ciudad</button></b></a>
                </div>
                 <h6><a href="delete_user_view">Darse de baja</a></h6>
              </div>


              

      
            </div>
          </div>

        

        </section>
        </div>
         <div class="col-md-6">
        <section id="contact" class="wow fadeInUp">
          <div class="container">
            <div class="section-header">
              <h2>Buscar pronóstico</h2>
            </div>

            <div class="row contact-info">

                
 
              <div class="col-md-6">

                <form class="form" action="/search_city" method="GET" id="formLogin"> 
                    <input id = "automplete-1" type="text" name="ciudad" size="50" placeholder="Buscar ciudad" autocomplete="on">


                    <br><br>
                    <button type="submit">Buscar</button>
                </form>


              </div>
 
              

      
            </div>
          </div>




        </section>
    </div>
    </div>
    </div>

    
  </main>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="form" action="/change_city" method="POST" id="formLogin"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar ciudad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="contact">
        <div class="container">
           <input id = "automplete-1" type="text" name="ciudad" size="50" placeholder="Buscar ciudad" autocomplete="on">
        </div>
         </section>
    </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="sumbit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </form>
  </div>
</div>



  

  {% include 'footer.html' %}


  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="static/lib/sticky/sticky.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>
</html>
