<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Weather Web Service</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

 <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script> 

 <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   
  <script>

    var availableCities = []
         

i = 0;
$(document).ready(function(){

    $("input").keypress(function(){
        i+=1

        ciudad = document.getElementById('automplete-1').value
        if(ciudad.length > 2){
          

          console.log("Se va a buscar: " + ciudad)

           $.ajax({
                type: "GET",
                url: "/lookup_city",
                contentType: 'application/json;charset=UTF-8',
                data: {'data': ciudad},
                async: false,
                success: function (data) {

                  data = data.result

                  availableCities = []

                   for(var i in data)
                    {
                        var idCiudad = data[i].idCiudad;

                        var codigo = data[i].codigo_ciudad;
                         var ciudad = data[i].ciudad;

                         
                        console.log(idCiudad + " - " +ciudad + ", " + codigo)

                        availableCities.push(idCiudad + " - " + ciudad + ", " + codigo);


                    }

                    console.log(availableCities);

                    $(function() {
                      $( "#automplete-1" ).autocomplete({
                         source: availableCities
                      });
                   });

                    
                },
                error : function (xhr, ajaxOptions, thrownError){  
                  console.log(xhr.status);          
                  console.log(thrownError);
                }
            });

        } 
    });
});
</script>

   
</head>



<body id="body">


  <!-- HTML --> 
     

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">UNLa<span>Weather</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


  <main id="main">


    <section id="contact" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
         <div class="col-md-4">
        <div class="login-register" >
            <div class="login-box card">
                <div class="card-body">
                    <form class="form" action="/new_user" method="POST" id="formLogin"> 
                        <h3 class="box-title m-b-20">Registrarse</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input value="" class="form-control" name="user" id="user" type="text" required="" placeholder="Usuario"> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input value="" class="form-control" name="pass" id="pass" type="password" required="" placeholder="Contraseña"> </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                               <input id = "automplete-1" class="form-control" type="text" name="ciudad"  size="50" placeholder="Ciudad" autocomplete="on" >
                        </div>
                        <br>

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrarse</button>

                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">

                                {% block body %}
                                  {% if session['error'] %}
                                    <div class="alert alert-danger" role="alert">{{session.pop('error')}} </div>
                                  {% endif %}
                                {% endblock %}

                            </div>
                        </div>
                    
                </div>
              </form>
            </div>
        </div>

      </div>
    </div>


    </div>
    </section><!-- #contact -->
    
  </main>
  

  {% include 'footer.html' %}


  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="static/lib/sticky/sticky.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>
</html>
